.header-name {
    color: #fff;
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
}

.header-name:hover {
    text-decoration: underline;
}

.homePosts {
    text-decoration: none;
    color: white;
}

.homePosts:hover {
    text-decoration: underline;
}