
.comment {
    text-align: center;
    text-decoration: underline;
}

.commentHead {
    font-size: 17px !important;
    letter-spacing: .5px;
    padding-top: 2px;
}

.commentBody {
    font-size: 0.9375rem;
}